.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.buttons {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button {
  overflow: hidden;
  width: 150px;
  color: #20bf6b;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #20bf6b;
  border-radius: 2px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  margin: 0;
}

button:hover {
  background-color: #20bf6b;
  border: 4px solid #20bf6b;
  color: white;
}

button:focus {
  border: 4px solid #20bf6b;
}

.Chart {
  bottom: 50px;
  height: 100%;
  width: 70%;
  margin-left: 20px;
  position: relative;
  overflow: auto;
}
