.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.buttons {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button {
  text-align: center;
  width: 200px;
  color: #20bf6b;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #20bf6b;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background-color: #20bf6b;
  border: 4px solid #20bf6b;
  color: white;
}

button:disabled {
  background-color: grey;
  color: black;
  overflow: hidden;
  width: 200px;
  text-transform: uppercase;
  padding: 20px;
  border: 4px solid grey;
  border-radius: 2px;
  margin: 0;
  animation: none;
}

.Chart {
  bottom: 50px;
  height: 100%;
  width: 75%;
  margin-left: 20px;
  position: relative;
  overflow: auto;
}

.bouncy {
  animation: bounc 4s infinite linear;
  position: relative;
}

@keyframes bounc {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
